@model IEnumerable<Diplom.Models.ProductConsumption>




<p>
    <a asp-controller="VaultNotes" asp-action="Index" asp-route-IdVault="@ViewBag.IdVault">Вернуться к списку</a>
</p>

<form asp-controller="ProductConsumptions" asp-action="Index" method="get" class="">
    <input type="hidden" name="idVaultNote" value="@ViewBag.IdVaultNote" />
    <div class="input-group">
        <input class="form-control py-2 border-right-0 border" type="search" id="example-search-input" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Поиск по названию">
        <span class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Поиск</button>
        </span>
    </div>
</form>

@{
    DateTime date = DateTime.MinValue; // Инициализируем переменную даты
}

@if (Model.Any())
{
    date = Model.First().Date; // Присваиваем переменной значение даты из первого элемента

    <h5>Дата: @date.ToString("dd.MM.yyyy")</h5>
}
<table class="table">
    <thead>
        <tr>

            <th>
                Название продукта
            </th>
            <th>
                Количество продуктов на сад
            </th>
            <th>
                Количество продуктов на ясли
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Food.NameFood
                </td>
                <td>
                    @item.FoodCountChild
                </td>
                <td>
                    @item.FoodCountKid
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>

                </td>
            </tr>
        }
    </tbody>
</table>

